/* Header */
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;

  background-color: $primary-white-color;
}

.header-line {
  border-bottom: 1px solid $section-border-color;
}
.container.header {
  display: flex;
  align-items: center;
}
