/* Team */

.section.team {
  background-color: $special-section-bg-color;
}

.team.list {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.worker {
  width: 270px;
  overflow: hidden;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  text-align: center;

  &__img {
    display: block;
  }

  &__card-content {
    overflow: hidden;
    background-color: $primary-white-color;

    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 35px;
    padding-right: 35px;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    margin-top: 0;
    margin-bottom: 16px;

    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
  }

  &__social-link {
    display: flex;
    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;

    color: $grey-logo-color;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
    }
  }

  &__social-icon {
    fill: currentColor;
  }
}
