/* Our Benefits */
.benefits {
  &.list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  & .title {
    text-align: center;
  }

  &-item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    &__icon {
      display: flex;
      max-width: 450px;
      width: 100%;
      height: 120px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;

      justify-content: center;
      align-items: center;

      background-color: $special-section-bg-color;
      border-radius: 4px;
    }
  }
}
