.work-examples {
  margin-top: 34px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    /* background-color: turquoise; */
    margin: -15px;
  }
}

.card {
  width: 370px;
  margin: 15px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &__title {
    margin: 0;

    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    margin-top: 4px;
    margin-bottom: 0;

    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.87;
  }

  &__header {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 63px 24px;

    color: $primary-white-color;
    background-color: $card-hover-color;
    font-size: 18px;
    line-height: 1.56;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .card__overlay {
    transform: translateY(0%);
  }

  &__image {
    display: block;
  }

  &__content {
    overflow: hidden;
    padding: 20px 20px;

    border-bottom: 1px solid $card-border-color;
    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
