.filters {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:first-child) {
    margin-left: 8px;
  }

  &__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border: none;
    border-radius: 4px;

    color: $title-text-color;
    font-family: inherit;
    background-color: $filter-button-bg-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    }
  }
}
