/* Hero */
.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, $overlay-color, $overlay-color),
    url("../images/hero-img-mob-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $overlay-color, $overlay-color),
      url("../images/hero-img-mob-960.jpg");
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(to right, $overlay-color, $overlay-color),
      url("../images/hero-img-tab-768.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $overlay-color,
          $overlay-color
        ),
        url("../images/hero-img-tab-1536.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(to right, $overlay-color, $overlay-color),
      url("../images/hero-img-desc-1600.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $overlay-color,
          $overlay-color
        ),
        url("../images/hero-img-desc-3200.jpg");
    }
  }

  &__title {
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: $primary-white-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
