// Переменные
$primary-text-color: #757575;
$logo-text-color: #000000;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$copyright-text-color: rgba(255, 255, 255, 0.4);
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$section-border-color: #ececec;
$social-link-bg-color: rgba(255, 255, 255, 0.1);
$button-hover-bg-color: #188ce8;
$title-text-color: #212121;
$special-section-bg-color: #f5f4fa;
$grey-logo-color: #afb1b8;
$overlay-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$form-field-border-color: rgba(33, 33, 33, 0.2);
$card-hover-color: rgba(33, 150, 243, 0.9);
$filter-button-bg-color: #f5f4fa;
$card-border-color: #eeeeee;
